.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza);
    padding: 0 0.5em;
}

.cabecalho__logo {
    width: 30%;
}

.titulo__cabecalho {
    font-size: 0.8em;
}