.botao__menu {
    color: var(--cinza);
    background-color: var(--preto);
    border-radius: 0.5em;
    border: none;
    text-align: center;
    width: 4em;
    height: 2em;
    font-size: 0.9em;
    opacity: 0.8;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    position: absolute;
    left: -80vw;
    height: 75vh;
    width: 75vw;
    z-index: 1;
    transition: 0.5s all;
    border-radius: 0 1% 1% 0;
    opacity: 0.85;
}

.menu--ativo {
    left: 0;
}

.menu__lista {
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    padding: 1em 0;
}

.menu__item {
    border-left: solid 1px var(--branco);
}

.menu__link {
    color: var(--branco);
    text-decoration: none;
    padding: 0 0 0 1em;
    font-size: 1.2em;
}

@media screen and (min-width: 728px) {
    .botao__menu {
        transition: 0.5s all;
    }

    .botao__menu:hover {
        transform: scale(1.05);
    }

    .menu {
        width: 50vw;
    }
}

@media screen and (min-width: 1024px) {
    .botao__menu {
        display: none;
    }
}