.menu-lateral {
    display: none;
    color: var(--cinza);
}

@media screen and (min-width: 1024px) {
    .menu-lateral {
        display: flex;
        flex-direction: column;
        background-color: var(--preto);
        opacity: 0.85;
    }

    .menu-lateral__logo {
        height: 20%;
        width: 90%;
        align-self: center;
    }

    .menu__link {
        transition: 0.5s all;
    }

    .menu__link:hover {
        color: var(--cinza);
    }

}

@media screen and (min-width: 1440px) {
    .menu-lateral__logo {
        height: 20%;
        width: 90%;
        align-self: center;
    }
}